/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #1c1d1e;
}

details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: #02adc9;
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a,
a:link,
a:active,
a:visited {
    color: initial;
    text-decoration: none;
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a.button {
    background-color: #ff7b7b;
    color: #ffffff;
    padding: 0.6em 1.75em;
    border-radius: 3em;
}

a.button:hover {
    background-color: #ec6a6a;
}

.pixel-pattern {
    width: 100%;
}

.pixel-pattern-container {
    position: relative;
}

.bottom-pixel-pattern {
    position: absolute;
    bottom: 0;
}

.section-deco {
    width: 8em;
}

.bottom-pattern-isolated {
    padding-top: 5em;
    display: flex;
    align-items: flex-end;
}

.bottom-pattern-isolated img {
    width: 100%;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav .wrapper {
    margin: 3em;
    padding: 0.75em 0em 0.75em 1.75em;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 3em;
    box-shadow: 0px 0px 5px 0px rgba(136, 136, 136, 0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(136, 136, 136, 0.5);
    -moz-box-shadow: 0px 0x 5px 0px rgba(136, 136, 136, 0.5);
}

.menu-open nav .menu-icon div:nth-of-type(2) {
    display: none;
}

.menu-open nav .menu-icon div:nth-of-type(1),
.menu-open nav .menu-icon div:nth-of-type(2) {
    position: relative;
}

.menu-open nav .menu-icon div:nth-of-type(1) {
    transform: rotate(45deg);
    top: 1em;
}

.menu-open nav .menu-icon div:nth-of-type(3) {
    transform: rotate(-45deg);
    top: -1em;
}

nav .menu-icon {
    position: absolute;
    flex-direction: column;
    right: 2em;
    top: 2em;
    cursor: pointer;
    display: none;
}

nav .menu-icon div {
    height: 0.4em;
    width: 3em;
    border-radius: 3em;
    background-color: #02adc9;
    margin-bottom: 0.6em;
}

nav .brand img {
    width: 6em;
    position: relative;
    top: 0.15em;
}

nav>div {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul a.active,
nav ul a:hover {
    color: #02adc9;
}

nav ul li {
    margin-right: 5em;
}

nav ul li:last-of-type {
    margin-right: 1.5em;
}

nav ul li:last-of-type a:hover {
    color: #fff;
    background-color: #f06d6d;
}

.section-title {
    margin-top: 2.5em;
    text-align: center;
}

.section-title h2 {
    font-size: 1.777em;
    display: inline-block;
    position: relative;
}

.section-title h2.inverted-title {
    color: #1c1d1e;
}

.section-title>img {
    height: 1.25em;
}

.section-title img.left,
.section-title img.right {
    position: absolute;
}

.section-title img.left {
    width: 1.25em;
}

.section-title img.right {
    width: 0.75em;
}

.section-title img.left {
    left: -1.25em;
    top: -0.25em;
}

.section-title img.right {
    right: -0.5em;
    bottom: -0.25em;
}

.section-body {
    position: relative;
}

.section-deco {
    position: absolute;
}

.edge-deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.talent .social-links img,
.profile-details .social-links img {
    width: 1.25em;
}

.talent .social-links a,
.profile-details .social-links a {
    display: flex;
    background-color: #ffffff;
    padding: 0.5em;
    border-radius: 100%;
}

.talent .social-links .twitch img,
.profile-details .social-links .twitch img {
    position: relative;
    top: 0.1em;
}

.talent .social-links a:hover,
.profile-details .social-links a:hover {
    position: relative;
    left: 0.15em;
    right: 0.15em;
    box-shadow: 0px 0px 0px 0px transparent;
    -webkit-box-shadow: 0px 0px 0px 0px transparent;
    -moz-box-shadow: 0px 0px 0px 0px transparent;
}

.kaedehara-asuka-links a {
    border: 0.0825em solid #ffcccc;
    box-shadow: 0.15em 0.15em 0px 0px #e59191;
    -webkit-box-shadow: 0.15em 0.15em 0px 0px #e59191;
    -moz-box-shadow: 0.15em 0.15em 0px 0px #e59191;
}

.sakayori-chako-links a {
    border: 0.0825em solid #ffe9e9;
    box-shadow: 0.15em 0.15em 0px 0px #ffa4a4;
    -webkit-box-shadow: 0.15em 0.15em 0px 0px #ffa4a4;
    -moz-box-shadow: 0.15em 0.15em 0px 0px #ffa4a4;
}

.kurenai-azusa-links a {
    border: 0.0825em solid #ff3b3b;
    box-shadow: 0.15em 0.15em 0px 0px #bc0404;
    -webkit-box-shadow: 0.15em 0.15em 0px 0px #bc0404;
    -moz-box-shadow: 0.15em 0.15em 0px 0px #bc0404;
}

.hanaya-misaki-links a {
    border: 0.0825em solid #ffda99;
    box-shadow: 0.15em 0.15em 0px 0px #edbf77;
    -webkit-box-shadow: 0.15em 0.15em 0px 0px #edbf77;
    -moz-box-shadow: 0.15em 0.15em 0px 0px #edbf77;
}

.border-bottom-deco {
    position: absolute;
    width: 100%;
    bottom: -0.5em;
    left: 0;
    display: flex;
    flex-direction: column;
}

.border-bottom-deco .top-stroke,
.border-bottom-deco .bottom-stroke {
    height: 0.35em;
}

.border-bottom-deco .bottom-stroke {
    width: 97%;
    right: 0;
    align-self: flex-end;
}

.border-bottom-deco .kaedehara-asuka-top-stroke {
    background-color: #FFE2E2;
}

.border-bottom-deco .kaedehara-asuka-bottom-stroke {
    background-color: #FFCCCC;
}

.border-bottom-deco .sakayori-chako-top-stroke {
    background-color: #FFF3F3;
}

.border-bottom-deco .sakayori-chako-bottom-stroke {
    background-color: #FFE9E9;
}

.border-bottom-deco .kurenai-azusa-top-stroke {
    background-color: #FEA5A5;
}

.border-bottom-deco .kurenai-azusa-bottom-stroke {
    background-color: #FC6060;
}

.border-bottom-deco .hanaya-misaki-top-stroke {
    background-color: #FFEAC5;
}

.border-bottom-deco .hanaya-misaki-bottom-stroke {
    background-color: #FFDA99;
}

.subpage header {
    background-image: url(../img/pixel-notes-subpage-header.png);
    background-attachment: fixed;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 13em 0 6em 0;
}

.faq header {
    background-image: url(../img/pixel-notes-subpage-header-alt.png);
}

.subpage .section-title {
    margin-top: 0;
}

.subpage .section-title h2 {
    font-size: 2.75em;
}

.subpage .section-title>img {
    height: 1.4em;
}

.faq .section-title>img {
    position: relative;
    top: 0.5em;
    height: 1.8em;
    margin-top: -0.5em;
}

.faq .section-title .right {
    right: -0.75em;
}

.subpage .filter a {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bold;
    color: #02adc9;
    border: 1px solid #02adc9;
    padding: 0.6em 1.75em;
    border-radius: 3em;
    width: 100%;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

.subpage .filter a.active {
    background-color: #02adc9;
    color: #ffffff;
}

.subpage .filter .filter-option {
    flex: 1;
    margin: 0.5em;
}

.subpage .filter {
    display: flex;
    width: 50em;
    margin: 2.5em auto;
}

.home header {
    background-image: url(../img/pixel-notes-header.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    height: 53em;
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home header h2 {
    font-size: 3.5em;
}

.home header p {
    font-size: 1.2em;
    max-width: 25.5em;
    margin: 1.15em 0 2.15em 0;
}

.home header .left {
    padding: 0 0 0 6em;
}

.home header .right {
    width: 50%;
    height: 100%;
    position: relative;
}

.home header .right img {
    position: absolute;
    width: 120%;
    bottom: 0;
    right: 3em;
}

.home #talents {
    background-color: #dbe8f0;
}

.home #talents .section-deco:nth-of-type(2) {
    top: -3em;
}

.home #talents .section-deco:nth-of-type(1) {
    bottom: 6em;
    right: 2em;
}

.talents-row {
    display: flex;
    margin: 1em 0 0 0;
    padding-bottom: 7em;
    justify-content: center;
}

.subpage .talents-row {
    padding-bottom: 4.5em;
}

.talents-row .talent {
    background-color: #ffffff;
    text-align: center;
    position: relative;
    margin: 1.5em;
}

.talents-row .top-half {
    padding-top: 2em;
    padding-bottom: 1em;
}

.talents-row .top-half:hover {
    background-color: #f8f8fe;
}

.talents-row .bottom-half {
    padding-top: 1em;
    padding-bottom: 1.5em;
    border-top: 1px solid #e9e9f3;
}

.talents-row .top-half,
.talents-row .bottom-half {
    display: block;
    padding-left: 2em;
    padding-right: 2em
}

.talents-row .talent a {
    font-family: "Noto Sans JP", sans-serif;
}

.subpage .talents-row .talent {
    background-color: #f7f7ff;
}

.subpage .talents-row .top-half:hover {
    background-color: rgba(242, 242, 248, 0.918)
}

.talents-row .talent .profile-picture {
    background-color: #ffffff;
    border-radius: 100%;
}

.talents-row .talent h3 {
    color: #1c1d1e;
    font-size: 1.414em;
    margin: 0.5em 0 0.25em 0;
}

.talents-row .talent p {
    color: #686565;
}

.talents-row .talent .profile-picture {
    width: 10em;
}

.home #introduction .section-title .right {
    width: 2.25em;
    right: -2em;
}

.home #introduction {
    text-align: center;
    background-image: url(../img/white-background-deco-large.png);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 6em;
}

.home #introduction .section-body {
    padding: 2em 0;
}

.home #introduction p {
    max-width: 25em;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.home #introduction .text-wrapper {
    margin-top: 4.5em;
    font-weight: bold;
}

.home #introduction .text-with-background {
    position: relative;
}

.home #introduction .text-with-background img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 22em;
}

#faq .faq-items {
    max-width: 40em;
    margin: 4em auto;
    padding-bottom: 1em;
    text-align: left;
}

#faq .faq-item summary {
    padding: 0.75em 1.25em;
    font-weight: bold;
    font-size: 1.5em;
    color: #02adc9;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(189, 189, 189, 0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(189, 189, 189, 0.5);
    -moz-box-shadow: 0px 0x 5px 0px rgba(189, 189, 189, 0.5);
    display: flex;
    justify-content: space-between;
}

#faq .faq-item summary img {
    width: 1em;
}

#faq .faq-item p {
    background-color: #f7f7ff;
    padding: 1.5em 2em;
}

#faq .faq-item a {
    font-family: "Noto Sans JP", sans-serif;
    color: #02adc9;
    text-decoration: underline;
}

#faq .faq-item h2 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bold;
}

#faq .faq-item a:hover {
    color: #008ca1;
}

#faq .faq-item {
    margin-bottom: 1em;
}

footer {
    background-color: #f8f8fe;
    text-align: center;
    padding: 3em 0 0 0;
}

footer .brand {
    width: 10em;
}

footer .social-links {
    display: flex;
    justify-content: center;
}

footer .social-links img {
    height: 1.5em;
}

footer .social-links a {
    margin: 1em 0.75em 1.5em 0.75em;
}

footer .copyright {
    font-size: 0.75em;
    color: #7b7b87;
    background-color: #ebebff;
    padding: 1em;
}

.profile main {
    background-image: url(../img/pixel-notes-gradient-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
}

.profile main .profile-image {
    position: relative;
    padding-top: 10em;
    width: 55%;
}

.profile main .profile-image .banner {
    position: absolute;
}

.profile main .profile-image .full-body {
    width: 45%;
    position: absolute;
    top: 14em;
    right: 6em;
}

.profile main .profile-details {
    padding-top: 13em;
    padding-right: 10em;
    width: 45%;
}

.profile-image .banner {
    padding-left: 5em;
    width: 65%;
}

.profile-details h2,
.profile-details h3 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bold;
}

.profile-details h1 {
    color: #ff7b7b;
    font-size: 2.5em;
    line-height: 1;
}

.profile-details h2 {
    font-weight: normal;
}

.profile-details .tag {
    border: 1px solid #02adc9;
    display: inline-block;
    border-radius: 3em;
    padding: 0.25em 1.25em;
}

.profile-details .tag {
    margin-bottom: 1em;
}

.profile-details .social-links {
    margin-top: 1em;
    justify-content: left;
}

.profile-details .social-links a {
    margin-right: 0.75em;
}

.profile-details .profile-intro {
    margin-top: 2.5em;
    max-width: 23em;
}

.profile-details .profile-intro p {
    margin-bottom: 1.5em;
}

.proifle .other-members {
    max-width: 100%;
}

.profile .other-members .members {
    display: flex;
    text-align: center;
    flex: 1;
}

.profile .other-members .subtitle {
    margin: 6em 0 2em 0;
}

.profile .other-members .subtitle h4 {
    border-bottom: 1px solid #02adc9;
    line-height: 0.1em;
    width: 100%;
}

.profile .other-members .subtitle span {
    background-color: #fff;
    padding-right: .5em;
}

.profile .other-members .members {
    width: 25em;
}

.profile .other-members .member {
    margin-right: 2em;
}

.profile .other-members .members img {
    max-width: 100%;
    border-radius: 100%;
}

.profile .other-members .members h5 {
    color: #1c1d1e;
}

.profile .other-members .member:hover h5 {
    color: #02adc9;
}

.profile .other-members .member:hover img {
    background-color: #f8f8fe;
}

.profile-facts {
    display: flex;
}

.profile-facts .fact-block {
    background-color: #f7f7ff;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    padding: 2em 1.25em;
}

.profile-facts .fact-single {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em 1.25em;
}

.profile-facts .fact-single .fact {
    margin: 0.5em 0;
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 2300px) {
    .home header h2 {
        font-size: 3em;
    }

    .home header p {
        font-size: 1em;
    }

    .subpage .section-title>img {
        height: 1.2em;
    }

    .subpage header {
        padding: 12em 0 5em 0;
    }

    .subpage .section-title h2 {
        font-size: 2.25em;
    }

    .home header .right img {
        width: 125%;
    }
}

@media screen and (max-width: 2100px) {
    .home header h2 {
        font-size: 2.5em;
    }

    .home header p {
        font-size: 0.9em;
    }

    .subpage header {
        padding: 11em 0 4em 0;
    }

    .subpage .section-title h2 {
        font-size: 2em;
    }

    .home header .right img {
        width: 130%;
    }

    .talents-row .talent {
        margin: 0.8em;
    }

    .talents-row .talent .profile-picture {
        width: 8em;
    }

    .talents-row .top-half,
    .talents-row .bottom-half {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .talents-row .top-half {
        padding-top: 1.5em;
        padding-bottom: 1em;
    }

    body {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 1900px) {
    body {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1700px) {
    body {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 1500px) {
    body {
        font-size: 1em;
    }
}

@media screen and (max-width: 1300px) {
    body {
        font-size: 0.9em;
    }

    .home header {
        height: 48em;
    }

    .profile main .profile-image .full-body {
        top: 18em;
    }

    .profile main .profile-image {
        padding-top: 14em;
    }

    .profile main .profile-image .full-body {
        width: 60%;
    }

    .profile-image .banner {
        width: 80%;
    }
}

@media screen and (max-width: 1100px) {
    body {
        font-size: 0.8em;
    }

    .talents-row {
        flex-wrap: wrap;
        padding-left: 0.65em;
        padding-right: 0.65em;
        padding-bottom: 5em;
    }

    .talents-row .talent {
        width: 47%;
    }

    .talents-row .top-half,
    .talents-row .bottom-half {
        padding-left: 7em;
        padding-right: 7em;
    }

    .profile main .profile-image .full-body {
        right: 3em;
    }
}

@media screen and (max-width: 960px) {
    .subpage header {
        padding: 10em 0 3em 0;
    }

    .profile main .profile-details {
        padding-right: 3em;
    }
}

@media screen and (max-width: 900px) {

    .home header p {
        font-size: 1em;
    }

    nav .menu-icon {
        display: block;
    }

    nav .wrapper {
        margin: 0;
        border-radius: 0;
        flex-direction: column;
        padding: 1em;
        display: none;
    }

    .menu-open nav .wrapper {
        display: block;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav .brand {
        text-align: center;
    }

    nav .brand img {
        width: 8em;
    }

    nav .wrapper div:last-of-type,
    nav .wrapper,
    nav,
    nav .wrapper a {
        width: 100%;
    }

    nav ul li {
        margin-right: 0;
    }

    nav ul li a {
        display: inline-block;
        padding: 1.5em 0;
        border-bottom: 1px solid #e9e9f3;
    }

    nav ul li a:hover {
        background-color: #f8f8fe;
    }

    nav ul .button {
        padding: 1em;
    }

    nav ul li:last-of-type {
        margin: 0;
    }

    nav ul li:nth-of-type(3) a {
        border-bottom: 0;
    }

    .subpage header {
        padding: 3em 0 3em 0;
    }

    .talents-row .top-half,
    .talents-row .bottom-half {
        padding-left: 5em;
        padding-right: 5em;
    }

    .home header .right img {
        width: 110%;
        right: 0;
    }

    .home header .left {
        padding: 7em 0 5em 0em;
    }

    .home header .right {
        text-align: center;
        width: 60%;
    }

    .home header {
        text-align: center;
        height: 57em;
        flex-direction: column;
    }

    .profile main .profile-image .full-body {
        width: 70%;
    }

    .profile-image .banner {
        width: 90%;
        padding-left: 1em;
    }

    .profile main .profile-image {
        padding-top: 7em;
    }

    .profile main .profile-image .full-body {
        top: 12em;
    }

    .profile main .profile-details {
        padding-top: 8em;
    }

}

@media screen and (max-width: 760px) {
    .profile main {
        flex-direction: column;
    }

    .profile div.profile-image,
    .profile div.profile-details {
        padding: 0;
    }

    .profile main .profile-image .banner {
        position: relative;
        padding: 0;
    }

    .profile main .profile-details {
        width: 100%;
        margin-top: 2em;
    }

    .profile .profile-wrapper {
        display: flex;
        justify-content: space-around;
    }

    .profile .profile-facts {
        flex-direction: column;
    }

    .profile .other-members {
        padding: 0 5em;
    }

    .profile .profile-head {
        padding-left: 4em;
    }

    .profile .profile-facts {
        padding-right: 4em;
        width: 40%;
    }

    .profile main .profile-image {
        align-self: center;
        padding-bottom: 2em;
    }

    .profile-facts .fact-block {
        padding: 2em;
    }

    .profile main .profile-image .banner {
        padding-top: 5em;
        width: 100%;
        left: -4em;
    }

    .profile main .profile-image .full-body {
        width: 90%;
        top: 10em;
        right: 0;
        left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {

    .talents-row .talent {
        width: 60%;
        margin-bottom: 2em;
    }

    .home header {
        height: 53em;
        padding-top: 0;
    }

    .home header .right {
        width: 70%;
    }

    .subpage .filter {
        flex-direction: column;
        width: 75%;
    }

    .home header .left {
        padding-top: 5em;
        padding-bottom: 2em;
    }

    .home header .right img {
        width: 100%;
    }

    .home header {
        height: 48em;
    }
}

@media screen and (max-width: 600px) {

    .talents-row .talent {
        width: 70%;
    }

    .home header .right {
        width: 80%;
    }

    .profile-details .profile-intro {
        max-width: 18em;
    }

    .profile .profile-facts {
        padding-right: 2em;
    }

    .profile .profile-head {
        padding-left: 2em;
    }

    .profile .other-members {
        padding: 0 3em;
    }

    .home header .right img {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }

    .home header {
        height: 42em;
    }
}

@media screen and (max-width: 560px) {
    .home header .right {
        display: none;
    }

    .home header {
        height: auto;
        padding-bottom: 3em;
    }

    .home header h2 {
        font-size: 2.25em;
    }
}

@media screen and (max-width: 550px) {
    #faq .faq-items {
        padding-left: 2em;
        padding-right: 2em;
    }

    .subpage header {
        padding: 1.5em 0 1.5em 0;
    }

    .subpage .section-title h2 {
        font-size: 1.5em;
    }

    .subpage .section-title>img {
        height: 1em;
    }
}

@media screen and (max-width: 500px) {

    .talents-row .talent {
        width: 80%;
    }

    .home header .right {
        width: 90%;
    }

    .profile .profile-wrapper {
        flex-direction: column;
    }

    .profile-details .profile-intro {
        max-width: 100%;
    }

    .profile .profile-facts,
    .profile .profile-head {
        padding: 2em;
    }

    .profile .profile-facts {
        padding-top: 0;
        width: 100%;
    }

    .profile main .profile-image .full-body {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {

    .talents-row .talent {
        width: 90%;
    }

    .subpage .filter {
        width: 85%;
    }

}

@media screen and (max-width: 360px) {

    .profile .other-members .members {
        flex-wrap: wrap;
        width: 100%;
    }

    .profile .other-members .member {
        width: 50%;
        padding: 0.5em;
        margin: 0;
    }

    .profile .other-members {
        padding: 0 1em;
    }
}